@rotateTime: /* @echo moveTime *//* @exclude */1/* @endexclude */s;
@moveTime: /* @echo rotateTime *//* @exclude */1/* @endexclude */s;
@lineLength: /* @echo lineLength *//* @exclude */7/* @endexclude */;
@moveDiagonalTime: round(sqrt(2*@moveTime*@moveTime),2);
@c_size: 50px;
