<ul style="height: 60px;width: 60px;padding: 60px;background: lightgrey;">
    <li class="tile {{modifier_class}}">
        <div class="object"></div>
        <div class="wall1"></div>
        <div class="wall2"></div>
    </li>
</ul>